body {
    background-color: #FAFAD2;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    padding: 200px;   
}

h6{
    text-align: center;
}
a{
    text-decoration: none;
}

div{
    text-align: center;
}
.iframe-container>iframe{
    margin:0 auto;
}